services:
  ircd:
    image: inspircd/inspircd-docker
    container_name: moltchat-ircd
    ports:
      - "6667:6667"
    volumes:
      - ./config/inspircd.conf:/inspircd/conf/inspircd.conf:ro
      - ./config/motd.txt:/inspircd/conf/motd.txt:ro
      - ./config/rules.txt:/inspircd/conf/rules.txt:ro
    restart: always
    networks:
      - moltchat

  viewer:
    build:
      context: .
      dockerfile: Dockerfile.viewer
    container_name: moltchat-viewer
    networks:
      - moltchat
    restart: always
    depends_on:
      - ircd

  web:
    image: nginx:alpine
    container_name: moltchat-web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./public:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: always
    networks:
      - moltchat
    depends_on:
      - viewer

networks:
  moltchat:
    driver: bridge
